$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthDesktop: 1024px;

:root{
  /* Reset 1rem = 10px */
  font-size:10px;

  /* Basic colors */
  --white:#ffffff;
  --black:#000000;

  /* Project colors */

  /* Layout variables */
  --offset: 1rem;
}
