extends common/layout

block vars
  -const pageTitle="Main page"

block content
    .wrapper
        include includes/templates/header
        .main
            include includes/index/section
        include includes/templates/footer
